<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>

<body background="images/events.jpg">
	<h1>
		<h3 align="center">Registration Page </h3>
	</h1>
	<img src="images/events.jpg" alt="waiting">
	<h3 align="center">
		<form action="userDetails" method="post">
			<pre>
				
<a href="http://localhost:8080/login">Login</a>
Id:     <input type="text" name="id">
Name:   <input type="text" name="name" />
Email:  <input type="text" name="email" />
<input type="submit" name="register" />
</pre>
		</form>

	</h3>
</body>

</html>>

